.card {
  max-width: 600px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 100px 100px 0;
}

.card:nth-child(n + 2) {
  margin: 0;
}

.card__title {
  padding-bottom: 32px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.card__divider {
  background-color: white;
  height: 1px;
  display: block;
  flex-grow: 1;
  align-self: flex-end;
}

.card__item {
  display: flex;
  margin: 0;
  padding-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__item:last-of-type {
  padding: 0;
}

.card__list {
  padding: 0;
  margin: 0;
}
