.footer {
  box-sizing: border-box;
  color: #fff;
  padding: 60px 100px 60px 80px;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  display: flex;
  justify-content: stretch;
  padding-bottom: 108px;
}

.footer__column-socials {
  margin: 0 0 0 auto;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  padding-bottom: 16px;
}

.footer__list-item:last-of-type {
  padding: 0;
}

.footer__social-heading {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__copyright {
  display: flex;
  align-items: flex-end;
  margin: 0;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  transition: color 1s ease;
}

.footer__social-link:hover {
  color: #2f80ed;
}
